body{
   	margin:0 0 5px 0;
	padding:0;
	#background-color: #729fcf;
	font-family: verdana;
}

table{
	
}

table tr th{	
	background-color: #204a87;
	color: #FFFFFF;
}

table tr td{
	border: solid 1px;	
}

#cabecalho{
	width:auto;
	height:80px;		
	text-align:center;
	background-color: #3465a4;
	padding: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#rodape{
	background-color: #3465a4;
	height:50px;
	text-align:center;
	position: inherit;
	padding: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.botao{
	background-color: #E8E8E8;	
	border-style: outset;
}

a:link{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

a:visited{	
	text-decoration: none;
}

a:hover{
	color: #000000
}

.alert-error{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.wdl{
    float: left;
    margin-right: 3px;
}
    
.wdr{
    float: right;
    margin-right: 3px;
}

.imgLinkSmall{
	width: 15px;
}

#colEsq{
	position:absolute;
	width:190px;
	padding-bottom:20px;
	border-bottom:3px double #666;
	background-color: #3465a4;
	border-right-width: 1px;
	border-right-style: solid;
}

#corpo{
	
}

#sepEsqcolCentral{
	margin-left:200px;
	padding-left:2px;
	padding: 20px;	
}

#colPrincipal{
	padding:2px 10px;
	text-align:justify;
	border-bottom:1px solid #666;
}

#menubv {
	width: 12em;
	padding: 0;
	margin: 0;	
}

#menubv ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menubv li {
	border-bottom: 1px solid ;
	margin: 0;
}

#menubv li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	font-weight:bold;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #729fcf;
	background-color: #204a87;
	color: #FFFFFF;
	text-decoration: none;
}

#menubv li a:hover {
	border-left: 10px solid #204a87;
	border-right: 10px solid #fff;
	background-color: #729fcf;	
}

#title{
	font-size: 50px;
	font-family: verdana;
	font-weight: bolder;
	color: #FFFFFF;
}

.bordasArrend{	
	border: #729fcf 10px solid; 
	padding: 10px; 
	-moz-border-radius:0 20px;
	-webkit-border-radius:0 20px;
	border-radius:0 20px;
}

#label{	
    left:100px;
    margin-right:5px;
}